meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
// favicon
link(rel="stylesheet", href="img/favicon.ico", type="image/x-icon")
// fontawesome
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
// slick slider
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
// bootstrap
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
// animate css
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css")
// styles
link(rel="stylesheet", href="css/main.css")